nav {
    background-color: #b11a1a;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a {
    display: block;
    color: white;         
    text-decoration: none; 
    padding: 14px 20px;  
    transition: 0.3s;     
}

nav ul li a:hover {
    color: yellow;
    background-color: #8b1212;
}
